# Node dependencies
node_modules

# alemon dev/config
/.data
/data
/public/defset
/temp
/config/config
/resources

# npm run tsc
dist
types

# Logs
logs
log
*.log
*.logs

#plugins
/plugins/genshin/config
