# Node dependencies
node_modules

# build
components.d.ts

# alemon dev/config
/data
stats.html
/public/defset
/temp
/config
/resources

# config
alemon.toml

# dev

dev.ts

# app
example.js
apps.js

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.apps
dist
/assets/.*
/pages/.*
/public/.*
/plugins/.*
/server/.*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.*
!.env.example
