# Node dependencies
node_modules

# alemon dev/config
.data
/data
/public/defset
/temp
/config/config
/resources

# config
alemon.toml

# dev
dev.ts

# app
plugins

# Logs
logs
log
*.log
*.logs



# build
components.d.ts

# alemon dev/config
/data/
stats.html

# app
example.js
apps.js
