# Node dependencies
node_modules

# alemon dev/config
/help/*.json
/data/
stats.html

# config
alemon.toml

# app
example.js
apps.js

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
/assets/.*
/pages/.*
/public/.*
/plugins/.*
/server/.*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.*
!.env.example
